[Desktop Entry]
Name=Jungle
Name[cs]=Jungle
Name[de]=Jungle
Name[nl]=Jungle
Name[pl]=Dżungla
Name[pt]=Jungle
Name[pt_BR]=Jungle
Name[sk]=Jungle
Name[uk]=Jungle
Name[x-test]=xxJunglexx
GenericName=KDE Video Player
GenericName[cs]=Přehrávač videa pro KDE
GenericName[de]=KDE-Videowiedergabe
GenericName[nl]=KDE videospeler
GenericName[pl]=Odtwarzacz filmów KDE
GenericName[pt]=Leitor de Vídeo do KDE
GenericName[pt_BR]=Reprodutor de Vídeo do KDE
GenericName[sk]=KDE video prehrávač
GenericName[uk]=Відеопрогравач для KDE
GenericName[x-test]=xxKDE Video Playerxx
Comment=An amazing video player
Comment[cs]=Skvělý přehrávač videa
Comment[nl]=Een verbazende videospeler
Comment[pl]=Zachwycający odtwarzacz filmów
Comment[pt]=Um leitor de vídeos espectacular
Comment[pt_BR]=Um reprodutor de vídeos surpreendente
Comment[sk]=Úžasný video prehrávač
Comment[uk]=Чудовий відеопрогравач
Comment[x-test]=xxAn amazing video playerxx
Exec=jungle %U
Terminal=false
Type=Application
Categories=Qt;KDE;Multimedia;
MimeType=video/dv;video/mpeg;video/x-mpeg;video/msvideo;video/quicktime;video/x-anim;video/x-avi;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-flc;video/x-fli;video/x-flv;video/vnd.rn-realvideo;video/mp4;video/mp4v-es;video/mp2t;application/ogg;application/x-ogg;video/x-ogm+ogg;application/x-matroska;video/x-matroska;video/webm;
Icon=nepomuk
