[Desktop Entry]
Name=Jungle
Name[nl]=Jungle
Name[pt]=Jungle
Name[uk]=Jungle
Name[x-test]=xxJunglexx
GenericName=KDE Video Player
GenericName[nl]=KDE videospeler
GenericName[pt]=Leitor de Vídeo do KDE
GenericName[uk]=Відеопрогравач для KDE
GenericName[x-test]=xxKDE Video Playerxx
Comment=An amazing video player
Comment[nl]=Een verbazende videospeler
Comment[pt]=Um leitor de vídeos espectacular
Comment[uk]=Чудовий відеопрогравач
Comment[x-test]=xxAn amazing video playerxx
Exec=jungle %U
Terminal=false
Type=Application
Categories=Qt;KDE;Multimedia;
MimeType=video/dv;video/mpeg;video/x-mpeg;video/msvideo;video/quicktime;video/x-anim;video/x-avi;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-flc;video/x-fli;video/x-flv;video/vnd.rn-realvideo;video/mp4;video/mp4v-es;video/mp2t;application/ogg;application/x-ogg;video/x-ogm+ogg;application/x-matroska;video/x-matroska;video/webm;
Icon=nepomuk
